<div>
    <h2 id="page-heading">
        <span jhiTranslate="biblioJpApp.livre.home.title">Livres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-livre" [routerLink]="['/livre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="biblioJpApp.livre.home.createLabel">
            Create a new Livre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="livres?.length === 0">
        <span jhiTranslate="biblioJpApp.livre.home.notFound">No livres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="livres && livres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titre"><span jhiTranslate="biblioJpApp.livre.titre">Titre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="biblioJpApp.livre.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isbn"><span jhiTranslate="biblioJpApp.livre.isbn">Isbn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="biblioJpApp.livre.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livre of livres ;trackBy: trackId">
                    <td><a [routerLink]="['/livre', livre.id, 'view']">{{ livre.id }}</a></td>
                    <td>{{ livre.titre }}</td>
                    <td>{{ livre.description }}</td>
                    <td>{{ livre.isbn }}</td>
                    <td>{{ livre.code }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/livre', livre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/livre', livre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(livre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="livres && livres.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
